vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|07 Nov 2012 15:31:14 -0000
vti_author:SR|Deeds-PC\\Deeds
vti_modifiedby:SR|Deeds-PC\\Deeds
vti_nexttolasttimemodified:TW|07 Nov 2012 15:31:14 -0000
vti_timecreated:TR|30 Oct 2012 19:34:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\users\\deeds\\google drive\\is 240\\website/c\:/users/deeds/google drive/is 240/website:TR|26 Oct 2012 14:52:40 -0000
vti_backlinkinfo:VX|contact.html questions.html qualification.html template.dwt default.html cert2.html cert1.html form.html
vti_cacheddtm:TX|07 Nov 2012 15:31:14 -0000
vti_filesize:IR|2895
vti_cachedlinkinfo:VX|S|bluefield.jpg S|bluefield2.jpg S|bluefield2.jpg S|bluefield2.jpg S|bluefield2.jpg
vti_cachedsvcrellinks:VX|FSUS|bluefield.jpg FSUS|bluefield2.jpg FSUS|bluefield2.jpg FSUS|bluefield2.jpg FSUS|bluefield2.jpg
